.inner-container .main-header {
  background-color: #5F5566;
  color: #ffffff;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}
.inner-container .main-header h2{
  color: #8AEA92;
}

