.new-tweet {
  justify-content: center;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  display: none;
}
.new-tweet label {
  font-weight:bold;
}
.new-tweet #tweet-text {
  border: 0px;
  border-bottom: 2px solid rgb(150, 147, 147);
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
}
.new-tweet .footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer .btn-submit{
  font-weight: 600;
  font-size: 1rem;
  padding: 10px;
  background-color: #5F5566 ;
  color: #ffffff;
  border: 0px;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 0px 2px 5px slategray;
  justify-content: flex-start;
}
.footer .btn-submit:hover{
  cursor: pointer;
  color: #5F5566;
  background-color: #8AEA92 ;
  border: 1px solid #22ee07;
}
.footer .counter {
  font-weight: 600;
  justify-content: flex-end;
}

.alertMessage {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #8AEA92;
  border-radius: 20px;
  padding: 1px;
}

.alertMessage span{
  font-weight:600;
  font-size: 2rem;
  padding: 0px;
}